<h2 style="text-align: center;">Listado Clientes</h2>

<div class="listado-clientes">
  <div *ngIf="! clientes.length">No hay clientes por el momento</div>
  <div *ngFor="let cliente of clientes">
    <article>
      <span>{{cliente.nombre}}</span>
      <span>{{cliente.cif}}</span>
      <span>{{cliente.direccion}}</span>
      <span>{{cliente.grupo}}</span>
    </article>
  </div>
</div>