article {
  display: flex;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  font-size: 0.9em;
}

span {
  display: inline-block;
  width: 22%;
  margin-right: 2%;
}

.listado-clientes {
  width: 500px;
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid #ccc;
}

.listado-clientes h2 {
  text-align: center;
  font-size: 2rem;
}

.listado-clientes div {
  margin: 1rem 0;
}

.listado-clientes article {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  border-bottom: 1px solid #ccc;
}

.listado-clientes article span {
  font-size: 1rem;
}

.listado-clientes article span:first-child {
  width: 50%;
}

.listado-clientes article span:last-child {
  width: 50%;
}

.listado-clientes div.sin-clientes {
  text-align: center;
  font-size: 1.5rem;
  color: #ccc;
}