<h2 style="text-align: center;">Alta cliente</h2>

<div class="formulario">
  <p>
    <span>Nombre:</span>
    <input type="text" [(ngModel)]="cliente.nombre" class="formulario-input">
  </p>

  <p>
    <span>CIF:</span>
    <input type="text" [(ngModel)]="cliente.cif" class="formulario-input">
  </p>

  <p>
    <span>Dirección:</span>
    <input type="text" [(ngModel)]="cliente.direccion" class="formulario-input">
  </p>

  <p>
    <span>Grupo:</span>
    <select [(ngModel)]="cliente.grupo" class="formulario-select">
      <option *ngFor="let grupo of grupos" value="{{grupo.id}}">{{grupo.nombre}}</option>
    </select>
  </p>

  <p>
    <button (click)="this.nuevoCliente()">Guardar</button>
  </p>
</div>