.formulario {
  width: 600px;
  /* Aumenta el ancho del formulario según tu preferencia */
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid #ccc;
  text-align: center;
  /* Centra el texto en el formulario */
}

.formulario h2 {
  font-size: 2rem;
  margin: 0;
  text-align: center;
  /* Centra el texto h2 */
}

.formulario p {
  margin: 1rem 0;
}

.formulario input,
.formulario select {
  width: 85%;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.formulario button {
  width: 100%;
  padding: 0.5rem;
  background-color: #007bff;
  color: white;
  border-radius: 0.5rem;
  cursor: pointer;
}